{% extends 'base.html' %} {% block content %}
<h1 class="title">{{ eatery.name }}</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Location: {{ eatery.location }}</p>
        <p>Description: {{ eatery.description }}</p>
        <p>Give Back Service: {{ eatery.givebackService }}</p>
        <p>Covid Protocol: {{ eatery.covidProtocol }}</p>
      </div>
      {% if eatery.user == request.user %}
      <div class="card-action">
        <a href="{% url 'eaterys_update' eatery.id%}">Edit</a>
        <a href="{% url 'eaterys_delete' eatery.id%}">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col s6">
    
    {% if user.is_authenticated %}
      <form method="POST" action="{% url 'comments_create' eatery.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
    {% endif %}
    <h4>User Comments</h4>
    <table class="striped">
      <thead>
        <th>Comment</th>
        <th>User</th>
      </thead>
      <tbody>
        
        {% for comment in eatery.comment_set.all %}
          <tr>
            <td>{{ comment.text }}</td>
            <td>{{ comment.user }}</td>
          </tr>
        {% endfor %}
          
      </tbody>
    </table>
  </div>
</div>

<script>
  const textEl = document.getElementByID('id_text');
  M.updateTextFields();
</script>
{% endblock %}
