{% extends 'base.html' %} {% block content %}
<h1 class="title">{{ eatery.name }}</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Location: {{ eatery.location }}</p>
        <p>Description: {{ eatery.description }}</p>
        <p>Give Back Service: {{ eatery.givebackService }}</p>
        <p>Covid Protocol: {{ eatery.covidProtocol }}</p>
      </div>
      <div class="card-action">
          <a href=#>Edit</a>
          <a href=#>Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
