{% extends 'base.html' %} {% block content %}
<h1 class="title">{{ eatery.name }}</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Location: {{ eatery.location }}</p>
        <p>Description: {{ eatery.description }}</p>
        <p>Give Back Service: {{ eatery.givebackService }}</p>
        <p>Covid Protocol: {{ eatery.covidProtocol }}</p>
      </div>
      <div class="card-action">
      {% if user.is_authenticated %}
        <a href="{% url 'add_favorite' eatery.id %}">Add to Favorites</a>
      {% endif %}    
      {% if eatery.user == request.user %}
        <a href="{% url 'eaterys_update' eatery.id%}">Edit</a>
        <a href="{% url 'eaterys_delete' eatery.id%}">Delete</a>
      {% endif %}
    </div>
    </div>
  </div>
  <div class="col s6">
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'comments_create' eatery.id %}">
      {% csrf_token %} {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment" />
    </form>
    {% endif %}
  </div>
</div>

<hr />
<div class="row">
  <h4>User Comments</h4>
  {% if eatery.comment_set.all %}  
  <table class="striped">
    <thead>
      <th>Comment</th>
      <th>User</th>
      <th></th>
    </thead>
    <tbody>
      {% for comment in eatery.comment_set.all %}
      <tr>
        <td style="width: 40%">{{ comment.text }}</td>
        <td style="width: 40%">{{ comment.user }}</td>

        {% if request.user == comment.user %}
        <td><a href="{% url 'comments_update' eatery.id comment.id %}">Edit</a></td>
        <td><a href="{% url 'comments_delete' eatery.id comment.id %}">Delete</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>No Comments Yet</h4>
  {% endif %}
</div>

<script>
  const textEl = document.getElementByID("id_text");
  M.updateTextFields();
</script>
{% endblock %}
