{% extends 'base.html' %} {% block content %}
<h1 class="title">Our Mission</h1>
<h4>
  To provide a free resource to find restaurants and locations that offer
  no-cost meals to those facing food insecurity.
</h4>
<div class="row">
  <h4>Additional Resources</h4>
  <div class="resources">
    <div class="logo">
      <a href="https://www.nourishingnetworks.net/">
        <img src="{% static 'images/NNC+Logo+2021+minor+crop.jpg' %}" />
      </a>
    </div>
    <a
      href="https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program">
      <div class="logo">
        <img src="{% static 'images/usda-logo-color.svg' %}" />
      </div>
    </a>
    <div class="logo">
      <a href="https://www.seattlefreshbucks.org/">
        <img src="{% static 'images/freshbuckslogo.png' %}" />
      </a>
    </div>
  </div>
</div>
{% endblock %}
