{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MealFindr</title>
    <!-- Stylesheets and scripts will go here -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro:wght@400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper red accent-4">
          <section>
            <ul class="navlist left">
              <li>
                <a href="/" class="brand-logo">MealFindr</a>
              </li>
            </ul>
          </section>
          <ul class="navlist right">
            <li><a href="{% url 'about' %}">About MealFindr</a></li>
            <li><a href="{% url 'index' %}">List of Locations</a></li>

            {% if user.is_authenticated %}

            <li><a href="{% url 'eaterys_create' %}">Add A Location</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <!-- Main Block, to be accessed via partials -->
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer red accent-4">
      <div class="right">
        All Rights Reserved, &copy; 2022 Team Lentil &nbsp;
      </div>
    </footer>
  </body>
</html>
