<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <title>MealFindr</title>
    <!-- Stylesheets and scripts will go here -->
  </head>
  <body>
    <header>
      <nav>
        <div>
          <ul class="navlist">
            <li>
              <a href="/">MealFindr</a>
            </li>
          </ul>
          <ul class="navlist">
            <li><a href="/about/">About MealFindr</a></li>
            <li>List of Locations</li>
            <li>Add A Location</li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Main Block, to be accessed via partials -->
    <main class="container">{% block content %} {% endblock %}</main>
    <footer>
      <!-- Footer content goes here
        We should decide if we want any text in the footer
        otherwise it can be a solid bar -->
    </footer>
  </body>
</html>
