{% extends 'base.html' %} 
{% block content %} 
{% load static %}
<div class="row">
  <h1 class="title home-title">
    MealFindr
  </h1>
</div>
<div class="row home-img">
  <img class="main-logo" src="{% static 'images/Mealfindr_landing_page.jpg' %}" />
</div>
<div class="row">
  <h3 class="title main-blurb">
    Facing food insecurity? Let us help you find a meal today.
  </h3>
</div>
<div class="row">
  <h4>Additional Resources</h4>
  <div class="resources">
    <div class="logo">
      <a href="https://www.nourishingnetworks.net/">
        <img src="{% static 'images/NNC+Logo+2021+minor+crop.jpg' %}" />
      </a>
    </div>
    <a href="https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program">
      <div class="logo">
        <img src="{% static 'images/usda-logo-color.svg' %}" />
      </div>
    </a>
    <div class="logo">
      <a href="https://www.seattlefreshbucks.org/">
        <img src="{% static 'images/freshbuckslogo.png' %}" />
      </a>
    </div>
  </div>
</div>
{% endblock %}
