body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "nav"
        "main"
        "foot"
}

body > nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 0 30px;
    border-bottom: 4px solid black;
}

.navlist {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navlist > li {
    display: inline
}

body > main {
    grid-area: main;
}