html {
    font-family: "Source Code Pro", "Architects Daughter", GillSans, Calibri, Trebuchet, sans-serif;
}

.brand-logo {
    font-family: "Architects Daughter";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.title{
    text-align: center;
}

.home-title {
    font-size: 70pt;
    margin-bottom: 0px;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

div.resources {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    max-height: 75px;
}

.logo{
    max-height: 75px;
    min-width: 338px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.home-img {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main-logo {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    color: black;
    padding: 1em;
}

.prof-image {
    min-height: 200px;
    min-width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1275px) {
    .prof-image {
        min-height: 150px;
        min-width: 150px;
        border-radius: 75px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 992px) {
    div.resources {
        flex-direction: column;
        row-gap: 10px;
    }
    .home-title {
        font-size: 50pt;
    }
    .main-logo {
        max-height: 200px;
    }
    .main-blurb {
        font-size: 28pt;
    }
    .prof-image {
        min-height: 200px;
        min-width: 200px;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}